<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
   private int no,hit,group_id,group_step,group_tab;
                  ===          =====================
   private String name,id,subject,content,pwd,anok,dbday;
                                              ====
   private Date regdate;
                ========
                    group_id  group_step
      AAAAA            2         0
        =>BBBBB        2         1
      DDDDD            1         0
        =>CCCCC        1         1
 -->
<mapper namespace="com.sist.mapper.qna-mapper">
   <select id="qnaListData" resultType="QnABoardVO" parameterType="hashmap">
     SELECT no,subject,name,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit,group_tab,num
     FROM (SELECT no,subject,name,regdate,hit,group_tab,rownum as num
     FROM (SELECT no,subject,name,regdate,hit,group_tab
     FROM qnaBoard ORDER BY group_id DESC,group_step ASC))
     WHERE num BETWEEN #{start} AND #{end}
   </select>
   <select id="qnaRowCount" resultType="int">
     SELECT COUNT(*) FROM qnaBoard
   </select>
   <!-- 문의 -->
   <insert id="qnaInsert" parameterType="QnABoardVO">
    INSERT INTO qnaBoard(no,id,name,subject,content,pwd,group_id) 
    VALUES((SELECT NVL(MAX(no)+1,1) FROM qnaBoard),
      #{id},#{name},#{subject},#{content},#{pwd},
      (SELECT NVL(MAX(group_id)+1,1) FROM qnaBoard))
   </insert>
   <!-- 관리자 -->
   <select id="qnaAdminListData" resultType="QnABoardVO" parameterType="hashmap">
     SELECT no,subject,name,TO_CHAR(regdate,'YYYY-MM-DD') as dbday,hit,group_tab,group_id,group_step,anok,num
     FROM (SELECT no,subject,name,regdate,hit,group_tab,group_id,group_step,anok,rownum as num
     FROM (SELECT no,subject,name,regdate,hit,group_tab,group_id,group_step,anok
     FROM qnaBoard WHERE group_step=0 ORDER BY group_id DESC))
     WHERE num BETWEEN #{start} AND #{end}
   </select>
   <select id="qnaAdminRowCount" resultType="int">
     SELECT COUNT(*) FROM qnaBoard
     WHERE group_step=0
   </select>
</mapper>

